.campotexto_area{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 97%;
    gap: 1rem;
}
.campotexto_area input{
    padding: 1rem;
    border: 0;
    width: 100%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}